# ==========================================
# JARVIS 5.0 - CONFIGURATION
# ==========================================

# Bot
BOT_NAME=JARVIS 5.0
BOT_PREFIX=.

# Owner
# Inserisci il tuo numero in formato internazionale
# senza +, spazi o parentesi.
OWNER_NUMBER=39XXXXXXXXXX
OWNER_NAME=IlTuoNome

# AI - Groq
GROQ_API_KEY=
GROQ_MODEL=openai/gpt-oss-120b

# WhatsApp
SESSION_DIR=./auth_info
PRINT_QR=true

# Database
DATABASE_PATH=./jarvis.db

# Environment
NODE_ENV=production

# Server
HOST=0.0.0.0
PORT=3000
